# Python
__pycache__/
*.pyc

# Virtual environment
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# Environment
.env

# Streamlit cache
.streamlit/

# Logs
*.log

# n8n local config/cache
n8n/.n8n/


docs/

